.card{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 300px;
    padding: 25px;
    &__img{
        max-width: 100px;
        max-height:70px ;
        margin-bottom: 20px;
    }
    &__temperature{
        margin: 10px 0 10px 0;
        
        display: flex;
        p{
            font-weight: 1000;
            font-size: 50px;
        }
        span{
            font-weight: 1000;
            font-size: 20px;
        }
    }
    &__desrc{
        font-weight: 7000;
        font-size: 20px;
    }
}