body{
    margin: 0;
    background-color:#7492a5
}
p{
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    padding: 0;
}
span{
    margin: 0;
    padding: 0; 
}
div{
    margin: 0;
    padding: 0; 
}
img{
    margin: 0;
    padding: 0; 
}
li{
    list-style-type: none
}