.app{
    max-width: 1920px;
    height: 1080px;
    background-image: url(./assets/cold-bg.jpg);
    background-size: cover;
    background-position: bottom;
    transition: 0.4 ease;
    display: flex;
    
}